:root{
    --maincolor:red;
    --highlightedbackground:linear-gradient(180deg red black red);

}
body{
    background-color: beige;
}

/* ----------------------------------------------------------------------
The HEADER
---------------------------------------------------------------------- */



img{
    width: 10vw;
}


/* ----------------------------------------------------------------------
The MENU
---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------
The MAIN
---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------
The FOOTER
---------------------------------------------------------------------- */