:root{
    --maincolor:red;
    --highlightedbackground:linear-gradient(180deg, var(--maincolor), black, var(--maincolor));
    --textcolor:white;
}
body{
    margin: 0;
}

/* ----------------------------------------------------------------------
The HEADER
---------------------------------------------------------------------- */
Header{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    background: var(--highlightedbackground);
    color: var(--textcolor);
    font-variant: small-caps;
}

H1{
    margin: 0;
    padding: 15px 5px;
}

img{
    width: 5vw;
    margin-right: 5px;;
}


/* ----------------------------------------------------------------------
The MENU
---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------
The MAIN
---------------------------------------------------------------------- */



/* ----------------------------------------------------------------------
The FOOTER
---------------------------------------------------------------------- */